


/* tablets */
@media (max-width: 991px) {
    #pricing{
        grid-template-columns: 1fr 1fr 1fr ;
        padding: 20px;
        gap: 40px;
        
        
    }
    .elite{
        grid-column: 2 / 3;

    }
    #wimg{
    width: 100%;

    }
  }

/* smaller tablets */
@media (max-width: 800px) {
    .navbar {
        height: 3rem;
        padding: 0 1rem;
    }
    
    .navbar ul {
        margin-top: -11px;
    }
    .nav-right li{
        float: left;
    }
    
    .nav-right li a {
        margin-right: 5px;
    }
    
    .navbar ul li {
        margin: 0 .4rem;
        padding-top: .9rem;
    }
    
    .navbar ul li a {
        font-size: 12px;
        padding: 6px 13px;
    }
       
    #wimg{
        margin-top: 3rem;
        
    }
    
    .hero2 h1 {
        font-size: 1.8rem;
    }
    
    .plan {
        transition: none; 
    }

    .plan:hover {
        background: #252728;
        transform: none;
        transition: none;
    }
  }
/* Mobile view */
        
@media (max-width:600px) {
    .navbar {
        height: 3rem;
        padding: 0 1rem;
    }
    
    .navbar ul {
        margin-top: -11px;
    }
    .nav-right{
        position: absolute;
        visibility: hidden;
    }

    
    .navbar ul li {
        margin: 0 0rem;
        padding-top: .9rem;
    }
    
    .navbar ul li a {
        font-size: 12px;
        padding: 6px 13px;
    }
    #logo {
        margin-right: -50px; 
        margin-left: -50px;
    }
    #logo img {
        height: 3.5rem;  
    }
    
    .h{
        font-size: 2rem;
    }
    .hero2 h1 {
        font-size: 1.4rem;
    }
    
    .container { 
        grid-template-columns: 1fr;
    }

    #about { 
        grid-template-columns: 1fr;
    }
    .abt{
        grid-column: 1;
    }

    section {
        padding: 20px;
        padding-top: 40px;
    }

    #pricing{
        grid-template-columns: 1fr 1fr ;
        padding: 25px;
        gap: 25px;
        
    }
    #image2{
        grid-area: 2;
    }
    .elite{
        grid-column: auto;
    }
      
}

  /* small mobiles */
  @media (max-width: 500px) {
    
    #pricing{
        grid-template-columns: 1fr;
        padding-left: 80px;
        padding-right: 80px;
    }
  }