{% extends "base.html" %}

{% block title %}Membership Plans | Workout{% endblock %}

{% block content %}
      <!-- membership -->
      <section id="membership">
        <h2 class="center heading h">Membership Plans</h2>
        <div id="pricing" class="container">
            <!-- Basic Plan -->
            <div class="plan card">
                <h2>Basic</h2>
                <h3>PKR 2000/month</h3>
                <p>Includes access to:</p>
                <ul>
                    <li>Weights</li>
                    <li>Machines</li>
                    <br><br><br><br><br>
                </ul>
                <a href="" class="cta">Join Now</a>
            </div>
    
            <!-- Standard Plan -->
            <div class="plan card">
                <h2>Standard</h2>
                <h3>PKR 3500/month</h3>
                <p>Includes access to:</p>
                <ul>
                    <li>Weights</li>
                    <li>Machines</li>
                    <li>Locker access</li>
                    <li>Equipment like mats and gloves</li>
                    <br><br>
                </ul>
                <a href="#membership" class="cta">Join Now</a>
            </div>
    
            <!-- Premium Plan -->
            <div class="plan card">
                <h2>Premium</h2>
                <h3>PKR 5000/month</h3>
                <p>Includes access to:</p>
                <ul>
                    <li>Weights</li>
                    <li>Machines</li>
                    <li>Locker access</li>
                    <li>Equipment (mats/gloves etc)</li>
                    <li>Personal trainer </li>
                    <li>Tailored workout plans</li>
                </ul>
                <a href="#membership" class="cta">Join Now</a>
            </div>
    
            <!-- Elite Plan -->
            <div class="plan card elite">
                <h2>Elite</h2>
                <h3>PKR 8000/month</h3>
                <p>Includes everything in Premium plus:</p>
                <ul>
                    <li>Group fitness classes (Yoga, HIIT, Zumba)</li>
                    <li>Nutrition consultations</li>
                    <li>Sauna/steam room access</li>
                    <li>Complimentary gym merchandise</li>
                </ul>
                <a href="#membership" class="cta">Join Now</a>
            </div>
        </div>
    </section>
{% endblock %}
    